.footer {
  flex: 0 0 auto;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // padding: 15px;
  overflow-x: hidden;

  .top-footer {
    display: flex;
    gap: 50px;
    width: 100%;
    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      font-size: 20px;
      color: #777;
    }
    h1 {
      font-size: 25px;
      font-weight: 500;
      color: #777;
      text-align: center;
    }
  }
  .bottom-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    .left-footer {
      display: flex;
      align-items: center;
      .copyright {
        margin-left: 20px;
        font-size: 12px;
        color: #777;
      }
      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}
