.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  h1 {
    cursor: pointer;
  }
  .list-nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    flex: 1;
    background-color: #f3f3f3;
    padding: 25px;
    .item-deco {
      font-size: 8px;
      cursor: pointer;
      transition: all 0.5s ease;
      .row {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 15px;
        transition: all 0.5s ease;
      }
      &:hover {
        background-color: #caffbf;
        border-radius: 5px;
        color: #c81d25;
        width: 200px;
        transition: all 0.5s ease;
        font-weight: bold;
        transform: scale(1.05);
      }
    }
    .item {
      display: flex;
      align-items: center;
      justify-content: start;
      transition: all 0.5s ease;
      width: 300px;
      cursor: pointer;
      span {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
      }
      &:hover {
        background-color: #caffbf;
        border-radius: 5px;
        transition: all 0.5s ease;
        font-weight: bold;
        transform: scale(1.02);
      }
      span {
        height: 35px;
        font-weight: bold;
      }
    }
  }
  .right {
    display: flex;
    flex: 6;
    height: 655px;
    width: 100%;
  }
}
