@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand:wght@438&display=swap");

.App {
  font-family: "Poppins", sans-serif;
  font-family: "Quicksand", sans-serif;
  background-color: #f5f5f5;
  overflow-x: hidden;
  .link {
    text-decoration: none;
    color: inherit;
  }
}
